body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #FFFCF8;
}

h1{
  font-size: 50px;
  float: left;
  position: relative;
  padding-left: 5%;
  padding: none;
  font-family: 'Quicksand', sans-serif;

}


#topBar{
  background-color: yellow;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 50px;
  margin-bottom: 40px;
  display: block;
  box-shadow: 0px 2px 8px grey;
}

#logo{
  width: 100px;
}


.asset{
  height: 250px;
  width: 382px;
  overflow: hidden;
  padding-bottom: 50px;
  margin-right: 12px;
  float: left;

}
.images{
  height: 250px;
  width: auto;
  padding-left: 40px;
  padding-bottom: 30px;
  margin: 10px;
  float: left;
}

@media screen and (max-width: 900px) {
  .images{
padding-left: 20px;
}
